.white-text {
  color: white !important;
  text-shadow: 2px 2px 4px black; /* Schwarzer Schatten für Text */
}

.white-toggler:hover {
  color: black;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: url("../assets/cherrylandscape.png");
  background-size: cover; 
  background-position: center; 
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background-color: transparent !important;
  backdrop-filter:blur(10px);
}


#sidebar-wrapper .list-group {
  width: 15rem;
}


#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  font-weight: bold;
  border: none;
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 4px black;
}

.btn-light{
  background-color: transparent !important;
  backdrop-filter: blur(10px) !important;
}

.btn-light a.white-text {
  color: white !important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
